body {
  font-family: Arial, sans-serif;
  background-color: hsl(206, 37%, 93%);
  margin: 0;
  padding: 0;
}

header {
  background-color: hsl(206, 19%, 34%);
  color: #fff;
  text-align: center;
  padding: 10px;
}

#contenedor {
  position: absolute;
  padding: 10px ;  
}

#cabecera {
  position: relative;
  padding: 10px;
}

#menu {
  position: absolute;
  left: 200px;
  top: 20px;
  display: flex;
}

#foto-perfil {
  top: 10px;
  padding: 10px;
}

#foto-perfil img {
  height: 120px;
  width: 100px ;
  border-radius: 50%;
}

#opciones {
  background-color: hsl(206, 19%, 34%);

  text-align: center;
  padding: 10px;
  display:block;
}

#opciones a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  display:inline-flex;
}

#opciones a:hover {
  background-color: #6d7175;
}


